.hide{
  display: none;
}

.landing{
  background: #f7f7f7;
  width: 300px;
}

.landing p {
  font-weight: bold;
}

.landing .accounts {
  padding: 10px;
}

.landing .accounts .account {
  margin-bottom: 10px;
  box-shadow: inset 0 1px 1px rgba(27,31,35,.075), 0 0 0 0.1em #dadada;
  cursor: pointer;
  border-radius: 2px;
}

.landing .accounts .account.selected {
  box-shadow: inset 0 1px 1px rgba(27,31,35,.075), 0 0 0 0.1em #56c28c;
}
